body{

  left: 0;
  right: 0;
  bottom: auto;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #00c7ff;
  font-family: arial;
  z-index: 2;
}

nav{
  z-index: 1;
  text-align: center;
  position: fixed;
  top:0;
  left: 50%;
  transform: translateX(-50%);


}

li{
  list-style: none;
  float: left;
  margin: 1vw;
  margin-top: 1.3vw;
}

.gotop{
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-color: black;
  border: 1%;
  border-style: solid;
  background-color: white;
}

master{
  top:5vw;
  position: absolute;
  left: 15%;
  right: 15%;
  background-color: white;
  z-index: 4;
  border-color: black;
  border: 1%;
  border-style: solid;
}

div{

}

section{
  height: 200vw;
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: black;

}

.amenu {
  z-index: 1;
  font-size: 20px;
  text-decoration: none;
  background-color: grey;
  color: black;
  margin: 1px;
  padding: 10px;
  border-color: black;
  border: 1%;
  border-style: solid;
}

.amenu:hover{
  transition-delay:0.1s;
  background-color: black;
  color: white;
  text-decoration: none;
  border-color: white;
  border: 1%;
  border-style: solid;
}

h1{
  margin: 20px;

}

h2{
  margin: 20px;
}

p{
  margin: 2vw;
}

/* Klassen */
.allinfobox{
  display: none;
}

.hideallinfo{
  display: none;
}

.text:nth-child(1){

}

.text:nth-child(2){

}

.masterfooter{
  border-top: 5px;
  border-top-style: solid;
  display: inline-block;
  left: 0;
  right: 0;
  background-color: grey;
  height: 150px;
  width: 100%;
  text-align: center;

}
span{
 margin-top: 40px;
 display: inline-block;

}
nici{
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  font-family: arial black;
  color: white;
  font-weight: 600;
}

.logo{
  display: inline-block;
  margin-top: 20px;
  float: left;
  height: 50px;
  width: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.logolink{
  text-decoration: none;
  border-style: none;
  height: 0px;
  width: 0px;

}
.logolink:hover{
  background-color: grey;
  border-style: none;

}

.imganimation{
  height: 50px;
  width: 50px;

}

.imganimation:hover{
  animation-name: herum;
  animation-duration: 2s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
}

@keyframes herum {
 0%{
   transform: rotateY(0deg);
 }
 50%{
   transform: rotateY(180deg);
 }
 100%{
   transform: rotateY(360deg);
 }
}

nicolabuehlerbild{
 position: absolute;
}
gaming{
  display: inline-block;
}
iframe{
  margin-left: 20px;
}

.textlink{

  margin: 15px;

}

.nicidasbild{
  border-radius: 30%;
  float: left;
  left: 10px;
  margin-left:  10px;
  margin-right: 10px;


}

.namesholder{
  display: inline-block;
  width: 50%;
  background-color: grey;
  right: 0;
  border-radius: 15px;
  box-shadow: 0 0 10px #5ffdff;
}

.ts3{
    height: auto;
    background-color: black;
    padding-left: 40px;
    padding-right: 100px;
}

.linkthemen{
  text-decoration: underline;
}

.pixelback{
  width: 100%;
  height: 600vh;
  overflow: hidden;
  background-color: #111;
  z-index: 0;
}

.pixelback .pixelbox{
  position: relative;
  width: 96px;
  height: 96px;
  background-color: #111;
  float: left;
  border: 1px solid rgba(0,0,0,0.2);
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
}

.pixelback .pixelbox:before{
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #1d1d1d;
  box-shadow: 0 1px 4px #000;
  transition: 2s ease-in-out;
}
.pixelback .pixelbox:hover:before{
    transition: 0s ease-in-out;
}

.pixelback .pixelbox:nth-child(9n+1):hover:before{
  background-color: #f00;
  box-shadow: 0 0 3px #f00,
              0 0 10px #f00;
}
.pixelback .pixelbox:nth-child(9n+2):hover:before{
  background-color: #0f0;
  box-shadow: 0 0 3px #0f0,
              0 0 10px #0f0;
}
.pixelback .pixelbox:nth-child(9n+3):hover:before{
  background-color: #00f;
  box-shadow: 0 0 3px #00f,
              0 0 10px #00f;
}
.pixelback .pixelbox:nth-child(9n+4):hover:before{
  background-color: #ff0;
  box-shadow: 0 0 3px #ff0,
              0 0 10px #ff0;
}
.pixelback .pixelbox:nth-child(9n+5):hover:before{
  background-color: #0ff;
  box-shadow: 0 0 3px #0ff,
              0 0 10px #0ff;
}
.pixelback .pixelbox:nth-child(9n+6):hover:before{
  background-color: #f0f;
  box-shadow: 0 0 3px #f0f,
              0 0 10px #f0f;
}
.pixelback .pixelbox:nth-child(9n+7):hover:before{
  background-color: #e91e63;
  box-shadow: 0 0 3px #e91e63,
              0 0 10px #e91e63;
}
.pixelback .pixelbox:nth-child(9n+8):hover:before{
  background-color: #00ffad;
  box-shadow: 0 0 3px #00ffad,
              0 0 10px #00ffad;
}
.pixelback .pixelbox:nth-child(9n+9):hover:before{
  background-color: #f45103;
  box-shadow: 0 0 3px #f45103,
              0 0 10px #f45103;
}


/**************************/
/* Die Aufläsungen        */
/**************************/

@media (max-width: 320px) {

}

@media (min-width: 321px ) and (max-width: 375px) {

}

@media (min-width: 376px ) and (max-width: 425px) {

}

@media (min-width: 426px ) and (max-width: 768px) {

}

@media (min-width: 769px ) and (max-width: 1024px) {

}

@media (min-width: 1025px ) and (max-width: 1440px) {

}

@media (min-width: 1441px ) and (max-width: 2560px) {

  h1{
    font-size: 30px;
    padding: 10px;
  }

  p{
    font-size: 25px;
  }
  .amenu{
    font-size: 25px;
    padding: 25px;
  }
  li{
    margin: 40px;
    margin-top: 56px;
  }

  .logo{
    width: 195px;
    height: 100px;
  }

  .imganimation {
      height: 100px;
      width: 100px;
    }

.masterfooter {
    height: 200px;
}

  span{
    width: 100%;
    display: inline-block;
    margin-top: 35px;
  }

  nici{
    font-size: 25px;
  }


}


@media (min-width: 2561px ) {

}
