body{
  padding: 0;
  margin: 0;
}

.oben{
  position: fixed;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  background-color: grey;
}

.shop{
  position: fixed;
  height: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  background-color: purple;
}

.erungenschaften{
  position: fixed;
  height: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: green;
}

.buttonmaster{
  height: 300px;
  width: 300px;
}

.stats{
  position: absolute;
  right: 0;
  left: 50%;
  top: 0;
  height: 100%;
  background-color: yellow;
}
